DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  # Fallback to index.html if the requested file or directory does not exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
